# Data
data/
*.db
*.feather
*.parquet
*.bin
experiments/*.csv
!experiments/backtest_result_latest.csv
reports/
state/
__pycache__/
*.pyc
.DS_Store
.env
.vscode/
mlruns/
Users/
notebooks/mlruns/
notebooks/Users/
logs/
*.log
config/settings.yaml
!qsys/data
